/* Write your CSS here */
.event-item {
  list-style: none;
  margin-right: 28px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .event-item {
    width: 45%;
  }
}
.event-button {
  background: transparent;
  border: none;
  padding: 0px;
  outline: none;
  cursor: pointer;
}
.event-image {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 460px;
}
.event-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 500;
  margin: 0px;
  margin-top: 12px;
}
.event-location {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 22px;
  margin: 0px;
  margin-top: 10px;
}
